:root {
  --text: #333;
  --text-h: #15151e;
  --bg: #fff;
  --border: #e10600; /* F1 Red */
  --code-bg: #f3f3f3;
  --accent: #e10600; /* F1 Red */
  --accent-bg: rgba(225, 6, 0, 0.1);
  --accent-border: rgba(225, 6, 0, 0.5);
  --social-bg: rgba(243, 243, 243, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Titillium Web', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Formula1-Display', 'Titillium Web', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d0d0d2;
    --text-h: #ffffff;
    --bg: #15151e; /* F1 Dark */
    --border: #38383f;
    --code-bg: #1f1f27;
    --accent: #e10600;
    --accent-bg: rgba(225, 6, 0, 0.2);
    --accent-border: rgba(225, 6, 0, 0.6);
    --social-bg: rgba(56, 56, 63, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
    font-family: var(--heading), sans-serif;
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
